SistemaSIGEIN/SIGE.Negocio/Web References/licenciamiento/Licencia0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generaXmlLicencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generaXmlLicenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generaXmlLicenciaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generaXmlIdentificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generaXmlIdentificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generaXmlIdentificacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>